SITE_LOCALE=da
PLUGINS="proxy wp"
NODE_ENV=staging
THEME=oddk
TRANSLATIONS=/themes/oddk/i18n/
API_URL=https://portal.opendata.dk/api/3/action/
WP_URL=https://oddk.home.blog/
WP_BLOG_PATH=/blog

# Proxy datastore and/or filestore
PROXY_DATASTORE=portal.opendata.dk
PROXY_FILESTORE=wfs-kbhkort.kk.dk
