{% extends "search.html" %}


{% block content %}
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="{{__('Breadcrumb')}}">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search/content" aria-current="page">{{__('Search Contents')}}</a>
      </li>
    </ol>
  </nav>
</div>

<link rel="stylesheet" type="text/css" href="/static/stylesheets/search-pages.css">

<div class="home-group-orgs-container container mx-auto p-gutter search-buttons-container">
  <div class="mt-gutter" id="datavejviser-container" style="margin-top: 0px !important;">
    <a href="/search">
      <button id="search-datasets-button" class="search-datasets-button">
        <p id="search-datasets-text-content">{{ __('Search datasets') }}</p>
      </button>
    </a>
    <a href="/search/content">
      <button id="search-content-button" class="search-content-button">
        <p id="search-content-text-content">{{ __('Search news') }}</p>
      </button>
    </a>
  </div>
</div>

<div class="container mx-auto md:flex p-gutter">

<main class="md:w-2/3">
    {% include "./partials/content-search-form.njk" %}
    {% include "./partials/content-search-results.njk" %}
    {% include "./partials/data-search-pagination.njk" %}
  </main>
</div>
{% endblock %}

{% block scripts %}
<script>

  var qTerm = "";

  let params = new URLSearchParams(location.search);
  let regExp = /(?:[^\s"]+|"[^"]*")+/g;
  let qAll = params.get('q').match(regExp);

  for (qPart of qAll) {
    qTerm = (qTerm + " " + qPart).trim();
  };
  
  $("#search-content-input").val(qTerm);

  // capture search term changes
  $("#search-content-input").on('input', function (event) {
    qTerm = $(this).val();
  });

  // click on button event
  var searchBtn = document.getElementById("search-button");

  searchBtn.onclick = function(event) {
    window.location.href = window.location.origin + "/search/content?q=" + qTerm;
  };

  // press on Enter event
  $("#search-content-input").on('keyup', function (event) {
    if (event.originalEvent.code === "Enter") {
      window.location.href = window.location.origin + "/search/content?q=" + qTerm;
    }
  });

</script>
{% endblock %}
