{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link hover:underline" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search" aria-current="page">{{__('Search')}}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto md:flex p-gutter">
  {% if result.results %}
  <div class="md:w-1/3 md:mr-gutter">
    <button id="filter-toggle" class="bg-primary w-full text-white mb-6 p-3 invisible md:hidden">
      Toggle filters
    </button>
    <div class="search-filters">
      {% include "./partials/search-filter.njk" %}
    </div>
  </div>
  {% endif %}

  <main class="md:w-2/3">
    {% include "./partials/data-search-form.njk" %}

    {% if result.results %}
      {% include "./partials/data-search-results.njk" %}
    {% else %}
      {% include "./partials/content-search-results.njk" %}
    {% endif %}

    {% include "./partials/data-search-pagination.njk" %}
  </main>
</div>
{% endblock %}

{% block scripts %}
<script>
  var filterToggle = document.getElementById("filter-toggle");
  var filterTarget = filterToggle.nextElementSibling;

  // hide filters
  filterTarget.setAttribute("data-expanded", "false");

  // show toggle
  filterToggle.classList.remove("invisible");

  // toggle filters with button
  filterToggle.onclick = function() {
    let expanded = filterToggle.getAttribute('aria-expanded') === 'true' || false;
    filterToggle.setAttribute('aria-expanded', !expanded);
    filterTarget.setAttribute("data-expanded", !expanded);
  }

  // split whole search query string in two parts: filters and term
  var q_filter = '';
  var q_term = '';
  let qryString = '';

  let params = new URLSearchParams(location.search);

  let regExp = /(?:[^\s"]+|"[^"]*")+/g;

  if (params.get('q')){

    let q_all = params.get('q').match(regExp);

    // remove duplicates from filters part
    q_all = uniq(q_all);

    for (q_part of q_all) {
      if (q_part.includes(':')){
        q_filter = (q_filter + " " + q_part).trim();
      } else{
        q_term = (q_term + " " + q_part).trim();
      }
    };

    // set input field value only to search term without filters
    $("#search-input").val(q_term);

    // capture search term changes
    $("#search-input").on('input', function (event) {
      q_term = $(this).val();
    });

    // click on button event
    var searchBtn = document.getElementById("search-button");

    searchBtn.onclick = function(event) {
      qryString = (q_filter + " " + q_term).trim();
      window.location.href = window.location.origin + "/search?q=" + qryString;
    };

    // press on Enter event
    $("#search-input").on('keyup', function (event) {
      if (event.originalEvent.code === "Enter") {
        qryString = (q_filter + " " + q_term).trim();
        window.location.href = window.location.origin + "/search?q=" + qryString;
      }
    });
  }

  $("#field-order-by").change(function() {
    let searchQry = (q_filter + " " + q_term).trim();
    window.location.href = window.location.origin + "/search?q=" + searchQry + '&sort=' + $(this).val();
  });

  // function removing duplicates from array
  function uniq(a) {
   return Array.from(new Set(a));
  };

</script>
{% endblock %}
