{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
  {{ dataset.title_translated[locale] or dataset.title or dataset.name }} - {{ __('Dataset') }}
{% endblock %}

{% block content %}
<div>
  <div class="container mx-auto p-gutter">
    <nav class="breadcrumb" aria-label="{{__('Breadcrumb')}}">
      <ol>
        <li class="breadcrumb_item">
          <a class="breadcrumb_link" href="/">{{ __('Home') }}</a>
        </li>
        <li class="breadcrumb_item">
          <a class="breadcrumb_link" href="/{{ owner.name }}">{{ owner.title or owner.name }}</a>
        </li>
        <li class="breadcrumb_item">
          <a class="breadcrumb_link" href="/{{ owner.name }}/{{ dataset.name }}"
             aria-current="page">{{ dataset.title_translated[locale] or dataset.title or dataset.name }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <main id="main-content" tabindex="-1" aria-label="{{__('Main content')}}" >
    <div class="container mx-auto lg:flex p-gutter">
      <!-- info -->
      <div class="lg:w-2/3">

        <h1 class="text-4xl font-semibold mb-3">
          {{ dataset.title_translated[locale] or dataset.title or dataset.name }}
        </h1>

        <!-- full readme -->
        {% if dataset.readmeHtml %}
          <div class="leading-relaxed">{{ dataset.readmeHtml | safe }}</div>
          {% elif dataset.description %}
          {% set description = dataset.notes_translated[locale] or dataset.description %}
          <div class="markdown-content leading-relaxed">{{ description | processMarkdown | safe }}</div>
        {% endif %}
        <!-- end of full readme -->

        <h2 class="text-2xl font-semibold mt-gutter mb-4">{{ dataset.resources | length }} {% if dataset.resources | length > 1 %}{{ __('data files') }}{% else %}{{ __('data file') }}{% endif %}</h2>

        <!-- data files (downloads) -->
        <ul>
          {% set formats = [] %}
          {% set colors = {
            CSV: '#ffca00',
            XLSX:'#3CBC8D',
            XLS:'#3CBC8D',
            JSON:'blue',
            GEOJSON:'#2CAAF9',
            LINK:'#f6ad55',
            SHAPE:'#68d391',
            WFS:'#08389c',
            PDF:'#ff1010',
            SHP:'violet',
            HTML:'#333',
            KML:'gray',
            ODS:'gray'
          } %}
          {% for displayResource in dataset.displayResources %}
            {% set resource = displayResource.resource %}
            <!-- data file -->
            <li class="mb-6">
              <h3 class="text-xl font-semibold">
                <a href="{{ resource.path }}" class="text-secondary" aria-label="{{ __('Navigate to') }} {{ resource.title or resource.name }} {{ resource.format or None }}">{{ resource.title or resource.name }}</a>
              </h3>
              <div class="mt-2">
                {% if resource.format %}
                  <span title="file format" class="bg-gray-600 rounded text-sm text-gray-100 px-2 py-1"
                        style="background:{{ colors[resource.format|upper] }};">{{ resource.format }}</span>
                {% endif %}
                {% if resource.size %}
                  <span title="file size"
                        class="bg-gray-600 rounded text-sm text-gray-100 px-2 py-1">{{ resource.size }}</span>
                {% endif %}

              </div>
              <div class="markdown-content mt-2">
                {{ resource.descriptionHtml | safe }}
              </div>
              <div id="license-name" class="text-sm">{{ resource.license_id }}</div>
              <nav aria-label="{{__('Download')}} {{__('or')}} {{__('Preview')}} {{resource.name}} {{ resource.format }}">
                <a class="data-file-type mr-1" href="{{ resource.path }}" aria-label="{{__('Download')}} {{ resource.name }}.{{ resource.format }}">
                  <dl class="data-file-type_inner">
                    <dt class="data-file-type_term">
                      {{ __('Download') }}
                    </dt>
                  </dl>
                </a>
                {% for alt in resource.otherFormats %}
                  <a class="data-file-type mr-1"
                     href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ alt.format }}{{ '?v='+revisionId if revisionId }}" aria-label="{{__('Download')}} {{ resource.name }}.{{ resource.format }}">
                    <dl class="data-file-type_inner">
                      <dt class="data-file-type_term">
                        {{ alt.format }}
                      </dt>
                      <dd class="data-file-type_size">
                        {{ alt.prettyBytes }}
                      </dd>
                    </dl>
                  </a>
                {% endfor %}
                <!-- Preview buttons and modals -->
                {% if displayResource.dataExplorers|length > 0 %}
                  <span x-data="{ showPreview: false, hover: false }" class="inline-block cursor-pointer">
                    <button
                      @click="showPreview = true"
                      class="data-file-type mr-1 inline-block"
                      aria-label="{{ __('Preview') }} {{ resource.name }}.{{ resource.format }}"
                      @mouseenter="hover = true"
                      @mouseleave="hover = false"
                      :style="hover ? 'text-decoration: underline;' : ''"
                    >
                      <dl class="data-file-type_inner">
                        <dt class="data-file-type_term">{{ __('Preview') }}</dt>
                      </dl>
                    </button>

                    <div
                      x-cloak
                      x-show="showPreview"
                      class="fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
                    >
                      <div class="preview-modal overflow-x-auto px-6 py-4 mx-auto text-left bg-white rounded shadow-lg max-h-[600px]">
                        <div class="flex items-center justify-between">
                          <button type="button" @click="showPreview = false" class="z-50 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                          </button>
                        </div>

                        <div role="application" aria-label="{{ __('Application for') }} {{ resource.name }}.{{ resource.format }}">
                          <h2 class="text-2xl text-secondary font-semibold mb-6">{{ resource.title or resource.name }}</h2>

                          <div class="data-explorer flex flex-col">
                            {% for dataExplorer in displayResource.dataExplorers %}
                              <div id="data-explorer-{{ resource.id|replace('-', '_') }}-{{ loop.index0 }}" class="data-explorer" data-datapackage='{{ dataExplorer | safe | replace("http://", "https://") }}'>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </span>
                {% endif %}
                <!-- End of preview buttons and modals -->
                {% if resource.datastore_active %}
                  <!-- Data API -->
                  <a class="data-file-type mr-1 bg-gray-500 text-white modal-open"
                     href="#data-api-info-{{ resource.id }}" aria-label="{{__('View')}} Data API for {{ resource.name }}.{{ resource.format }}">
                    <dl class="data-file-type_inner">
                      <dt class="data-file-type_term">
                        Data API
                      </dt>
                    </dl>
                  </a>
                  <!-- Data API modal -->
                  <div
                      class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
                      id="data-api-info-{{ resource.id }}">
                    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                    <div class="modal-container bg-white w-8/12 mx-auto rounded shadow-lg z-50 overflow-y-auto">

                      <!-- Add margin if you want to see some of the overlay behind the modal-->
                      <div class="modal-content py-4 text-left px-6">
                        <!--Title-->
                        <div class="flex justify-between items-center pb-3">
                          <p class="text-2xl font-bold">CKAN Data API</p>
                          <div class="modal-close cursor-pointer z-50">
                            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18"
                                 height="18" viewBox="0 0 18 18">
                              <path
                                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                            </svg>
                          </div>
                        </div>

                        <!--Body-->
                        <p>
                          <strong>{{ __('Access resource data via a web API with powerful query support.') }}</strong>
                          {{ __('Further information in the <a href="http://docs.ckan.org/en/latest/maintaining/datastore.html" target="_blank">main CKAN Data API and DataStore documentation.</a>') | safe }}
                        </p>

                        <hr/>

                        <p class="text-lg font-bold my-2">{{ __('Querying') }}</p>
                        <p class="font-semibold">
                          {{ __('Query example (first 5 results)') }}:
                        </p>
                        <p class="bg-gray-200 py-2">
                          https://admin.opendata.dk/api/3/action/datastore_search?resource_id={{ resource.id }}
                          &limit=5
                        </p>
                        <p class="font-semibold">
                          {{ __('Query example (results containing "jones")') }}:
                        </p>
                        <p class="bg-gray-200 py-2">
                          https://admin.opendata.dk/api/3/action/datastore_search?q=jones&resource_id={{ resource.id }}
                        </p>
                        <p class="font-semibold">
                          {{ __('Query example (via SQL statement)') }}:
                        </p>
                        <p class="bg-gray-200 py-2">
                          https://admin.opendata.dk/api/3/action/datastore_search_sql?sql=SELECT * from
                          "{{ resource.id }}" WHERE title LIKE 'jones'
                        </p>

                      </div>
                    </div>
                  </div>
                  <!-- End of Data API modal -->
                  <!-- End of Data API -->
                {% endif %}
              </nav>
            </li>
            <!-- data file end -->
          {% endfor %}
        </ul>
      </div>
      <!-- info end -->

      <!-- meta -->
      <div class="lg:w-1/3 lg:ml-gutter lg:pl-10">
        <div class="">
          <h2 class="bg-gray-200 px-4 py-3 font-bold mb-4">{{ __('Organization') }}</h2>
          <img src="{{ owner.avatar or '/static/img/org.svg' }}" alt="{{ owner.title }}" class="m-4 h-24"/>

          <a class="px-4 text-primary text-xl font-semibold" href="/{{ owner.name }}">{{ owner.title }}</a>

          <p class="px-4 py-2 text-sm">
            {{ owner.description | safe | truncate(200) }}
          </p>
          <a href="/{{ owner.name }}" class="text-primary font-bold" aria-label="{{__('More')}} {{__('About')}} {{ owner.name }}">{{__('More')}}</a>

          <!-- Metadata -->
          <h2 class="bg-gray-200 px-4 py-3 font-bold mt-4 mb-1">{{ __('Metadata') }}</h2>
          <div class="px-4 py-2 text-sm">
            <dl class="info-list">
              <dt class="info-list_title">{{__('Author')}}</dt>
              <dd class="info-list_description">
                <a href="mailto:{{ dataset.sources[0].email }}">{{ dataset.sources[0].name }}</a>
              </dd>

              <dt class="info-list_title">{{__('Landing page')}}</dt>
              <dd class="info-list_description">
                <a href="/{{ owner.name }}/{{ dataset.name }}">{{ dataset.title_translated[locale] or dataset.title or dataset.name }}</a>
              </dd>

              <dt class="info-list_title">{{__('Update frequency')}}</dt>
              <dd class="info-list_description">
                <a href="/search?q=update_frequency:{{ dataset.update_frequency }}">{{ __(dataset.update_frequency) }}</a>
              </dd>

              <dt class="info-list_title">{{__('Documentation')}}</dt>
              <dd class="info-list_description" style="white-space: normal; overflow-wrap: break-word; word-break: break-all;">
                <a href="{% if dataset.documentation and 'http' in dataset.documentation %}{{ dataset.documentation}}{% else %}{{ backendUrl }}/dataset/{{ dataset.name }}/documentation/{{ dataset.id }}{% endif %}" target="_blank">{{ dataset.documentation }}</a>
              </dd>

              <dt class="info-list_title">{{__('Temporal coverage start')}}</dt>
              <dd class="info-list_description" id="temporal_start">
                {{ dataset.temporal_start }}
              </dd>

              <dt class="info-list_title">{{__('Temporal coverage end')}}</dt>
              <dd class="info-list_description" id="temporal_end">
                {{ dataset.temporal_end }}
              </dd>
            </dl>
          </div>
          <!-- Metadata -->

          <!-- Categories -->
          {% set categories = dataset.data_themes %}
          {% set category_labels = {
            "ECON": __("Economy and finance"),
            "GOVE": __("Government and public sector"),
            "AGRI": __("Agriculture, fisheries, forestry and food"),
            "ENVI": __("Environment"),
            "ENER": __("Energy"),
            "EDUC": __("Education, culture and sport"),
            "JUST": __("Justice, legal system and public safety"),
            "REGI": __("Regions and cities"),
            "INTR": __("International issues"),
            "HEAL": __("Health"),
            "SOCI": __("Population and society"),
            "OP_DATPRO": __("Provisional data"),
            "TECH": __("Science and technology"),
            "TRAN": __("Transport")
          } %}

          {% if categories %}
            <h2 class="bg-gray-200 px-4 py-3 font-bold mt-4 mb-1">{{ __('Categories') }}</h2>
            <div class="px-4 py-2 text-sm">
              <ul class="list-none">
                {% for category in categories %}
                  <li>
                    <a href="/search?q=data_themes:{{ category }}"
                       class="text-primary hover:underline">{{ category_labels[category] }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <!-- Keywords section -->
          {% if dataset.keywords and dataset.keywords.length !== 0 %}
            <h2 class="bg-gray-200 px-4 py-3 font-bold mt-4 mb-1">{{ __('Keywords') }}</h2>
            <div class="container">
              <div class="flex flex-wrap ">
                {% for keyword in dataset.keywords %}
                  <a href="/search?q=tags:{{ keyword }}"
                     class="px-3 py-1 mr-2 mt-2 text-primary text-xs border rounded-full border-primary hover:bg-secondary" aria-label="{{ 'Keyword' + ' ' + keyword }}">{{ keyword }}</a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <!-- end Keywords section -->

        </div>
      </div>
      <!-- meta end -->

    </div>
  </main>

</div>

{% endblock %}


{% block scripts %}
  <script>
    const licenses = {
      "COM_REUSE": "{{ __('European Commission reuse notice') }}",
      "ISA_OML": "{{ __('ISA Open Metadata Licence 1.1') }}",
      "CC0": "{{ __('Creative Commons CC0 1.0 Universal') }}",
      "CC_BY": "{{ __('Creative Commons Attribution 4.0 International') }}",
      "CC_BYSA": "{{ __('Creative Commons Attribution–ShareAlike 4.0 International') }}",
      "CC_BYND": "{{ __('Creative Commons Attribution–NoDerivatives 4.0 International') }}",
      "CC_BYNC": "{{ __('Creative Commons Attribution–NonCommercial 4.0 International') }}",
      "CC_BYNCSA": "{{ __('Creative Commons Attribution–NonCommercial–ShareAlike 4.0 International') }}",
      "CC_BYNCND": "{{ __('Creative Commons Attribution–NonCommercial–NoDerivatives 4.0 International') }}",
      "CC_BY_3_0": "{{ __('Creative Commons Attribution 3.0 Unported') }}",
      "CC_BYSA_3_0": "{{ __('Creative Commons Attribution–ShareAlike 3.0 Unported') }}",
      "CC_BYND_3_0": "{{ __('Creative Commons Attribution–NoDerivs 3.0 Unported') }}",
      "CC_BYNC_3_0": "{{ __('Creative Commons Attribution–NonCommercial 3.0 Unported') }}",
      "CC_BYNCSA_3_0": "{{ __('Creative Commons Attribution–NonCommercial–ShareAlike 3.0 Unported') }}",
      "CC_BYNCND_3_0": "{{ __('Creative Commons Attribution–NonCommercial–NoDerivs 3.0 Unported') }}",
      "CC_BY_2_0": "{{ __('Creative Commons Attribution 2.0 Generic') }}",
      "CC_BYSA_2_0": "{{ __('Creative Commons Attribution–ShareAlike 2.0 Generic') }}",
      "CC_BYND_2_0": "{{ __('Creative Commons Attribution–NoDerivs 2.0 Generic') }}",
      "CC_BYNC_2_0": "{{ __('Creative Commons Attribution–NonCommercial 2.0 Generic') }}",
      "CC_BYNCSA_2_0": "{{ __('Creative Commons Attribution–NonCommercial–ShareAlike 2.0 Generic') }}",
      "CC_BYNCND_2_0": "{{ __('Creative Commons Attribution–NonCommercial–NoDerivs 2.0 Generic') }}",
      "CC_BY_1_0": "{{ __('Creative Commons Attribution 1.0 Generic') }}",
      "CC_BYSA_1_0": "{{ __('Creative Commons Attribution–ShareAlike 1.0 Generic') }}",
      "CC_BYND_1_0": "{{ __('Creative Commons Attribution–NoDerivs 1.0 Generic') }}",
      "CC_BYNC_1_0": "{{ __('Creative Commons Attribution–NonCommercial 1.0 Generic') }}",
      "CC_BYNCSA_1_0": "{{ __('Creative Commons Attribution–NonCommercial–ShareAlike 1.0 Generic') }}",
      "CC_BYNCND_1_0": "{{ __('Creative Commons Attribution–NoDerivs–NonCommercial 1.0 Generic') }}",
      "ODC_PDDL": "{{ __('Open Data Commons Public Domain Dedication and License 1.0') }}",
      "ODC_BY": "{{ __('Open Data Commons Attribution License v1.0') }}",
      "ODC_BL": "{{ __('Open Data Commons Open Database License v1.0') }}",
      "GNU_FDL": "{{ __('GNU Free Documentation License') }}",
      "CC_BY_2_5": "{{ __('Creative Commons Attribution 2.5 Generic') }}",
      "CC_BYSA_2_5": "{{ __('Creative Commons Attribution–ShareAlike 2.5 Generic') }}",
      "CC_BYND_2_5": "{{ __('Creative Commons Attribution–NoDerivs 2.5 Generic') }}",
      "CC_BYNC_2_5": "{{ __('Creative Commons Attribution–NonCommercial 2.5 Generic') }}",
      "CC_BYNCSA_2_5": "{{ __('Creative Commons Attribution–NonCommercial–ShareAlike 2.5 Generic') }}",
      "CC_BYNCND_2_5": "{{ __('Creative Commons Attribution–NonCommercial–NoDerivs 2.5 Generic') }}",
      "EUPL_1_0": "{{ __('European Union Public Licence v.1.0') }}",
      "EUPL_1_1": "{{ __('European Union Public Licence v. 1.1') }}",
      "EUPL_1_2": "{{ __('European Union Public Licence v. 1.2') }}",
      "CC_BY_4_0": "{{ __('Creative Commons Attribution 4.0 International') }}",
      "CC_BYNC_4_0": "{{ __('Creative Commons Attribution–NonCommercial 4.0 International') }}",
      "CC_BYNCND_4_0": "{{ __('Creative Commons Attribution–NonCommercial–NoDerivatives 4.0 International') }}",
      "CC_BYNCSA_4_0": "{{ __('Creative Commons Attribution–NonCommercial–ShareAlike 4.0 International') }}",
      "CC_BYND_4_0": "{{ __('Creative Commons Attribution–NoDerivatives 4.0 International') }}",
      "CC_BYSA_4_0": "{{ __('Creative Commons Attribution–ShareAlike 4.0 International') }}",
      "CC_BYSA_3_0_NL": "{{ __('Attribution-ShareAlike 3.0 Netherlands') }}",
      "CC_BY_3_0_NL": "{{ __('Attribution 3.0 Netherlands') }}",
      "CC_PDM_1_0": "{{ __('Public Domain Mark 1.0') }}",
      "CC_BY_3_0_AT": "{{ __('Attribution 3.0 Austria') }}",
      "DLDE_BYNC_1_0": "{{ __('Data licence Germany – attribution – non-commercial – Version 1.0') }}",
      "DLDE_BY_1_0": "{{ __('Data licence Germany – attribution – Version 1.0') }}",
      "DLDE_BY_2_0": "{{ __('Data licence Germany – attribution – Version 2.0') }}",
      "DLDE_ZERO_2_0": "{{ __('Data licence Germany – Zero – Version 2.0') }}",
      "GNU_FDL_1_1": "{{ __('GNU Free Documentation License 1.1') }}",
      "GNU_FDL_1_2": "{{ __('GNU Free Documentation License 1.2') }}",
      "HROD": "{{ __('Open Licence – The Republic of Croatia') }}",
      "IODL_1_0": "{{ __('Italian Open Data License v1.0') }}",
      "IODL_2_0": "{{ __('Italian Open Data License v2.0') }}",
      "NLOD_1_0": "{{ __('Norwegian Licence for Open Government Data 1.0') }}",
      "OGL_NC": "{{ __('Non-Commercial Government Licence') }}",
      "OGL_ROU_1_0": "{{ __('Non-Commercial Government Licence 1.0') }}",
      "OGL_1_0": "{{ __('Open Government Licence 1.0') }}",
      "OGL_2_0": "{{ __('Open Government Licence 2.0') }}",
      "OGL_3_0": "{{ __('Open Government Licence 3.0') }}",
      "PSEUL": "{{ __('INSPIRE End User Licence') }}",
      "BSD_2_CLAUSE": "{{ __('2-Clause BSD License') }}",
      "BSD_3_CLAUSE": "{{ __('3-Clause BSD License') }}",
      "APL_1_0": "{{ __('Adaptive Public License 1.0') }}",
      "APACHE_1_1": "{{ __('Apache Software License, version 1.1 (Apache-1.1)') }}",
      "APACHE_2_0": "{{ __('Apache License, Version 2.0') }}",
      "APSL_2_0": "{{ __('Apple Public Source License 2.0') }}",
      "ARTISTIC_1_0": "{{ __('Artistic License 1.0 (Artistic-1.0)') }}",
      "ARTISTIC_2_0": "{{ __('Artistic License 2.0') }}",
      "BSL_1_0": "{{ __('Boost Software License 1.0') }}",
      "BSD_PLUS_PATENT": "{{ __('BSD+Patent') }}",
      "CECILL_2_1": "{{ __('CEA CNRS Inria Free Software License Agreement, v2.1 (CECILL-2.1)') }}",
      "CDDL_1_0": "{{ __('Common Development and Distribution License 1.0') }}",
      "CPAL_1_0": "{{ __('Common Public Attribution License Version 1.0 (CPAL-1.0)') }}",
      "CPL_1_0": "{{ __('Common Public License, version 1.0 (CPL-1.0)') }}",
      "CATOSL_1_1": "{{ __('Computer Associates Trusted Open Source License 1.1 (CATOSL-1.1)') }}",
      "EPL_1_0": "{{ __('Eclipse Public License 1.0 (EPL-1.0)') }}",
      "EPL_2_0": "{{ __('Eclipse Public License version 2.0') }}",
      "ECOS_2_0": "{{ __('eCos License version 2.0') }}",
      "ECL_1_0": "{{ __('Educational Community License version 1.0 (ECL-1.0)') }}",
      "ECL_2_0": "{{ __('Educational Community License version 2.0 (ECL-2.0)') }}",
      "EFL_1_0": "{{ __('The Eiffel Forum License, version 1 (EFL-1.0)') }}",
      "EFL_2": "{{ __('Eiffel Forum License, version 2') }}",
      "ENTESSA": "{{ __('Entessa Public License Version 1.0 (Entessa)') }}",
      "EU_DATAGRID": "{{ __('EU DataGrid Software License (EUDatagrid)') }}",
      "FAIR": "{{ __('Fair License (Fair)') }}",
      "FRAMEWORX_1_0": "{{ __('Frameworx License 1.0 (Frameworx-1.0)') }}",
      "AGPL_3_0": "{{ __('GNU Affero General Public License version 3') }}",
      "GPL_2_0": "{{ __('GNU General Public License version 2') }}",
      "GPL_3_0": "{{ __('GNU General Public License version 3') }}",
      "LGPL_2_1": "{{ __('GNU Lesser General Public License version 2.1') }}",
      "LGPL_3_0": "{{ __('GNU Lesser General Public License version 3') }}",
      "HPND": "{{ __('Historical Permission Notice and Disclaimer (HPND)') }}",
      "IPL_1_0": "{{ __('IBM Public License Version 1.0 (IPL-1.0)') }}",
      "IPA": "{{ __('IPA Font License (IPA)') }}",
      "ISC": "{{ __('ISC License (ISC)') }}",
      "LPPL_1_3C": "{{ __('LaTeX Project Public License v1.3c (LPPL-1.3c)') }}",
      "BSD_3_CLAUSE_LBNL": "{{ __('Lawrence Berkeley National Labs BSD Variant License (BSD-3-Clause-LBNL)') }}",
      "LILIQ_P_1_1": "{{ __('Québec Free and Open-Source Licence – Permissive (LiLiQ-P) version 1.1') }}",
      "LILIQ_R_1_1": "{{ __('Québec Free and Open-Source Licence – Reciprocity (LiLiQ-R) version 1.1') }}",
      "LILIQ_RPLUS_1_1": "{{ __('Québec Free and Open-Source Licence – Strong Reciprocity (LiLiQ-R+) version 1.1') }}",
      "LPL_1_0": "{{ __('Lucent Public License, Plan 9, version 1.0 (LPL-1.0)') }}",
      "LPL_1_02": "{{ __('Lucent Public License Version 1.02 (LPL-1.02)') }}",
      "MS_PL": "{{ __('Microsoft Public License (MS-PL)') }}",
      "MS_RL": "{{ __('Microsoft Reciprocal License (MS-RL)') }}",
      "MIROS": "{{ __('MirOS License (MirOS)') }}",
      "MIT": "{{ __('The MIT License') }}",
      "MOTOSOTO": "{{ __('Motosoto Open Source License – Version 0.9.1 (Motosoto)') }}",
      "MPL_1_0": "{{ __('The Mozilla Public License (MPL), version 1.0 (MPL-1.0)') }}",
      "MPL_1_1": "{{ __('Mozilla Public License (MPL), version 1.1 (MPL-1.1)') }}",
      "MPL_2_0": "{{ __('Mozilla Public License (MPL), version 2.0 (MPL-2.0)') }}",
      "MULTICS": "{{ __('Multics License (Multics)') }}",
      "NASA_1_3": "{{ __('NASA Open Source Agreement v1.3 (NASA-1.3)') }}",
      "NAUMEN": "{{ __('NAUMEN Public License (Naumen)') }}",
      "NGPL": "{{ __('The Nethack General Public License (NGPL)') }}",
      "NOKIA": "{{ __('Nokia Open Source License Version 1.0a (NOKIA)') }}",
      "NPOSL_3_0": "{{ __('The Non-Profit Open Software License version 3.0 (NPOSL-3.0)') }}",
      "NTP": "{{ __('NTP License (NTP)') }}",
      "OCLC_2_0": "{{ __('The OCLC Research Public License 2.0 License (OCLC-2.0)') }}",
      "OGTSL": "{{ __('The Open Group Test Suite License (OGTSL)') }}",
      "OSL_1_0": "{{ __('Open Software License, version 1.0 (OSL-1.0)') }}",
      "OSL_2_1": "{{ __('The Open Software License, version 2.1 (OSL-2.1)') }}",
      "OSL_3_0": "{{ __('Open Software License, version 3.0 (OSL-3.0)') }}",
      "OPL_2_1": "{{ __('OSET Public License version 2.1') }}",
      "PHP_3_0": "{{ __('The PHP License 3.0 (PHP-3.0)') }}",
      "POSTGRE_SQL": "{{ __('The PostgreSQL Licence (PostgreSQL)') }}",
      "PYTHON_2_0": "{{ __('Python License (Python-2.0)') }}",
      "CNRI_PYTHON": "{{ __('The CNRI portion of the multi-part Python License (CNRI-Python)') }}",
      "QPL_1_0": "{{ __('The Q Public License Version (QPL-1.0)') }}",
      "RPSL_1_0": "{{ __('RealNetworks Public Source License Version 1.0 (RPSL-1.0)') }}",
      "RPL_1_1": "{{ __('Reciprocal Public License, version 1.1') }}",
      "RPL_1_5": "{{ __('Reciprocal Public License 1.5 (RPL-1.5)') }}",
      "RSCPL": "{{ __('The Ricoh Source Code Public License (RSCPL)') }}",
      "OFL_1_1": "{{ __('SIL Open Font License (OFL-1.1)') }}",
      "SIMPL_2_0": "{{ __('Simple Public License (SimPL-2.0)') }}",
      "SLEEPYCAT": "{{ __('The Sleepycat License (Sleepycat)') }}",
      "SPL_1_0": "{{ __('Sun Public License Version 1.0 (SPL-1.0)') }}",
      "WATCOM_1_0": "{{ __('The Sybase Open Source Licence (Watcom-1.0)') }}",
      "UPL_1_0": "{{ __('The Universal Permissive License (UPL), Version 1.0') }}",
      "NCSA": "{{ __('The University of Illinois/NCSA Open Source License (NCSA)') }}",
      "UCL_1_0": "{{ __('Upstream Compatibility License v1.0') }}",
      "VSL_1_0": "{{ __('The Vovida Software License v. 1.0 (VSL-1.0)') }}",
      "W3C": "{{ __('The W3C Software Notice and License (W3C)') }}",
      "WXWINDOWS": "{{ __('The wxWindows Library Licence (wxWindows)') }}",
      "XNET": "{{ __('The X.Net, Inc. License (Xnet)') }}",
      "0BSD": "{{ __('Zero-Clause BSD / Free Public License 1.0.0 (0BSD)') }}",
      "ZPL_2_0": "{{ __('The Zope Public License Version 2.0 (ZPL-2.0)') }}",
      "ZLIB": "{{ __('The zlib/libpng License (Zlib)') }}",
      "NLOD_2_0": "{{ __('Norwegian Licence for Open Government Data (NLOD) 2.0') }}",
      "GNU_FDL_1_3": "{{ __('GNU Free Documentation License 1.3') }}",
      "CLARIN_ACA_1_0": "{{ __('Clarin Academic End-User Licence (ACA) 1.0') }}",
      "ISA_OML_1_1": "{{ __('ISA Open Metadata Licence 1.1') }}",
      "ETALAB_2_0": "{{ __('Etalab Open Licence V 2.0') }}",
      "EUROGEO_2022": "{{ __('EuroGeographics Open Data Licence v.2022') }}"
    }

    document.querySelectorAll('#license-name').forEach(element => {
      const licenseId = element.textContent
      const licenseTitle = licenses[licenseId]

      if (licenseTitle) {
        element.style.display = 'inline-block'
        element.style.color = '#E8703D'
        element.textContent = licenseTitle
      }
    })
  </script>

  <script>
    const options = { day: 'numeric', month: 'long', year: 'numeric' };

    function formatDateString(dateString) {
      const date = new Date(dateString);
      return isNaN(date.getTime()) ? '' : new Intl.DateTimeFormat(navigator.language, options).format(date);
    }

    document.getElementById('temporal_start').textContent = formatDateString('{{ dataset.temporal_start }}');
    document.getElementById('temporal_end').textContent = formatDateString('{{ dataset.temporal_end }}');
  </script>

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script>

    function goToSearch() {
      var query = document.getElementById('search-input').value
      window.location.href = '/search?q=' + query
    }

    //scroll for preview
    $("#preview").click(function (e) {
      e.preventDefault()
      console.log($(this).attr("href"))
      var position = $($(this).attr("href")).offset().top
      console.log(position)
      $("body, html").animate({
        scrollTop: position
      })
    })

    var modalId
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function (event) {
        event.preventDefault()
        toggleModal(event, this.getAttribute("href"))
      })
    }

    const overlay = document.querySelector('.modal-overlay')
    if (overlay) {
      overlay.addEventListener('click', toggleModal)
    } else {
      console.warn('No overlay found')
    }

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }

    document.onkeydown = function (evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
        isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
        isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
        toggleModal()
      }
    }


    function toggleModal(event, id) {
      modalId = id || modalId
      const body = document.querySelector('body')
      const modal = document.querySelector(modalId)
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }

  </script>

  <link rel="stylesheet" media="screen" href="/static/stylesheets/main.css">
  <script type="text/javascript" src="/static/js/main.js"></script>

  <!-- data explorer builds -->
  <script type="text/javascript" src="/static/js/dataexplorer/runtime~main.a8a9905a.js"></script>
  <script type="text/javascript" src="/static/js/dataexplorer/2.48b30059.chunk.js"></script>
  <script type="text/javascript" src="/static/js/dataexplorer/main.f3d0929d.chunk.js"></script>
{% endblock %}
