.article-preview_image {
  display: block;
  @apply h-56;
}

.article-preview_img {
  @apply h-full w-full object-cover;
}

.article-preview_heading {
  @apply font-semibold text-2xl leading-snug mt-2 mb-3;
}

.article-preview_heading-link {
  color: inherit;
  font-size: 18px;
  background: none;
}

.article-preview_content {
  @apply leading-relaxed;
  margin-bottom: 50px;
  background: none;
}

.article-grid {
  position: relative !important;
}

.article-preview_date_div {
  height: 50px;
  border-bottom: 2px solid #e3e3e3;
  width: 100%;
  color: #4E4E4F;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.article-preview_text {
  font-size: 16px;
}

.blog-footer-arrow {
  float: right;
  margin-left: auto;
  margin-right: 0px;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
  background-color: #e3e3e3;
}

.article-preview_date {
  padding-bottom: 10px;
  font-weight: 400;
}

.article-preview_link {
  text-decoration: none;
}

.article-preview_link:hover {
  text-decoration: none;
}

a.article-as-link {
  position: absolute;
  display: block;
  text-decoration: none;
  height: 100% !important;
  width: 100% !important;
}

.article-preview:hover .blog-footer-arrow {
  text-decoration: none;
  color: #EF4123 !important;
}

.article-preview:hover .article-categories {
  text-decoration: none;
  background-color: #EF4123 !important;
}

.article-categories {
  position: absolute;
  top: 16em;
  left: 0.75em;
}