.data-explorer{
  & .total-rows{
    @apply flex justify-end pr-5 text-center text-gray-600 pt-5 pb-3;
  }
  & .react-date-picker__wrapper{
    @apply mt-3 mr-3 px-2 border border-gray-500 rounded;
  }
  & .datastore-query-builder{
    @apply flex justify-end;
  }

  & .data-explorer-content{

    @apply pt-6;

    &>button{
      @apply font-bold p-2 mr-6 border-b-2 border-white;
      &:hover{
        @apply text-primary border-primary;
      }
    }
    & .tab-link-active{
      @apply text-primary border-primary;
    }

    & .pager{
        @apply flex;
          & li{
            @apply p-2 mr-5 my-5 border border-gray-600 rounded-full;
            &.disabled a{
              @apply text-gray-600;
            }
          }
      }
  }

  & .tab-content{
    &::before{
      content: '';
      @apply block bg-gray-500 w-full h-px;
    }
    & .container{
      @apply my-3 py-0 border border-gray-100 rounded;
      &>div{
        @apply py-0;
      }
      & .py-3.mr-4{
        @apply overflow-auto;
      }
      & .p-4.mr-4{
        @apply p-0 mr-0;
      }
    }
    & .w-full .flex.flex-wrap>div:last-child{
      @apply truncate overflow-auto;
    }
  }

  & .ReactTable{
    @apply border-0;
    & .rt-thead.-header{
      @apply sticky top-0 border-b border-gray-500 shadow-none font-semibold text-base text-gray-900 bg-white rounded-t;
      & .rt-th{
        & .rt-resizable-header-content{
          @apply break-normal;
          &:hover{
            @apply text-primary;
          }
        }
      }
    }
    & .rt-tbody{
      @apply overflow-visible rounded-b;
    }
  }
}

.dq-main-container{
  & .dq-date-picker{
    @apply flex justify-start;
  }
}

.dq-rule-container{
  & .dq-body{
    @apply flex flex-col;
  }
  & button{
    @apply inline-block mr-3 mt-3 py-2 px-4 rounded-full leading-none text-sm font-bold border text-primary bg-white border-gray-500;
    &:hover{
      @apply border-primary;
    }
  }
  & .submit-button{
    @apply text-white bg-primary border-primary;
    &:hover{
      @apply bg-gray-600 border-gray-900;
    }
  }
  & .dq-rule-submit{
    @apply  flex justify-end;
  }
  & .dq-rule-item{
    @apply mb-2;
    & select{
      @apply bg-gray-100 mr-2 text-sm h-6;
    }
    & input{
      @apply bg-gray-100 mr-2 rounded-lg text-sm h-6 outline-none px-1;
    }
  }
}
.pagination{
  @apply table font-semibold py-3 mx-auto text-base flex justify-start;
  & li{
    @apply inline-block border border-gray-500 -ml-px;
    &:hover{
      @apply text-primary bg-secondary;
    }
    &.active{
      @apply text-primary bg-secondary;
    }
    &.disabled{
      &:hover{
        @apply cursor-default text-gray-500 bg-white;
      }
      & a:hover{
        @apply cursor-default;
      }
    }
    & a{
      @apply block px-5 py-3 text-primary;
    }
  }
  & .previous{
    @apply rounded-l;
    & a{
      @apply invisible w-8 px-6;
      &::before{
        content: '<';
        @apply visible -ml-6 px-5 py-4;
      }
    }
  }
  & .next{
    @apply rounded-r;
    & a{
      @apply invisible w-8 px-6;
      &::before{
        content: '>';
        @apply visible -ml-6 px-5 py-4;
      }
    }
  }
}

.dx-share-container{
  @apply hidden;
}