@screen lg {
  .home {
    background-image: url("../img/home-bg.svg");
    background-repeat: no-repeat;
    background-position: right 8rem;
    background-size: 40vw auto;
  }
}

.home_h1 {
  @apply font-semibold leading-tight;
}
@screen md {
  .home_h1 {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}
@screen lg {
  .home_h1 {
    font-size: 20px;
  }
}

@screen xl {
  .home_h1 {
    font-size: 30px;
  }
}

.home_search {
  position: relative;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.home_articles {
  @apply py-gutter;
}


.home_events {
  @apply bg-gray-200 py-10;
  position: relative;

  &::before,
  &::after {
    content: '';
    @apply bg-gray-200 w-gutter;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }

  & .tns-item:not(.tns-slide-active) {
    /* prevent 1px of next item */
    position: relative;
    left: 1px;
  }

  & .tns-nav {
    position: absolute;
    bottom: 0.5rem;

    & > [aria-controls] {
      width: 10px;
      height: 10px;
      margin-right: 8px;
      @apply bg-gray-500;

      &.tns-nav-active {
        @apply bg-secondary;
      }
    }
  }
}

@screen lg {
  .home_events {
    height: 10rem;
    display: flex;
    align-items: center;

    &::before {
      width: 100vw;
    }

    &::after {
      left: 100%;
      width: 10rem;
      background-image: url("../img/tab-mask.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 5rem top;
    }
  }
}


.home_feed {
  column-gap: 3rem;
}

@screen md {
  .home_feed {
    columns: 2;
  }
}

@screen lg {
  .home_feed {
    columns: 3;
  }
}

@media (max-width: 767px) {
  #searchInputHome {
    width: 100%;
  }
  .home_h1 {
    padding-bottom: 10px;
  }
  .search-magnifying-glass {
    position: absolute !important;
    vertical-align: middle !important;
    padding-top: 12px;
  }
}

@media (min-width: 768px) {
  #searchInputHome {
    width: 600px;
  }
}

#home-search-bar {
  width: 100%;
}

#datavejviser-logo {
  color: #4e4e4f !important;
}

#datavejviser-logo:hover {
  color: #4e4e4f !important;
}

#datavejviser-button:hover {
  padding: 0px 4px 0px 4px;
  box-shadow: 1px 1px 1px 1px #ef4123;
}

#datavejviser-button {
  padding: 0px 4px 0px 4px;
  width: 300px !important;
}

#datavejviser-container {
  display: flex !important;
}

#datavejviser-button-1 {
  height: 46px !important;
  width: 200px !important;
  min-width: 100px !important;
  margin-right: 10px;
  border: 1px solid #ef4123;
  color: #4e4e4f !important;
}

#datavejviser-button-1:hover, #datavejviser-button-2:hover {
  background-color: #ef4123;
  color: white !important;
}

#datavejviser-button-2 {
  height: 46px !important;
  width: 200px !important;
  min-width: 100px !important;
  margin-right: 10px;
  border: 1px solid #ef4123;
  color: #4e4e4f !important;
}

#datavejviser-text {
  color: #4e4e4f !important;
}

#datavejviser-group-text, #datavejviser-org-text {
  display: flex;
  height: 46px !important;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.search-magnifying-glass {
  margin-left: -40px;
  vertical-align: middle;
}

.home-about, .home-about-links {
  color: hsla(0,0%,100%,.75);
  text-decoration: underline;
}

.home-about:hover, .home-about-links:hover {
  color: white;
}

.home-about-text {
  font-weight: bold;
  font-size: large;
}

#news-link {
  float: left !important;
}
