.home-groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.home-groups_item {
  margin-bottom: 20px;
  @apply mb-gutter mr-gutter;
}

.home-groups_link {
  @apply flex-col items-start text-primary;
  background-color: transparent;
}

.home-groups_count {  
  background: #C82A0F;  
  border: 1px solid #C82A0F;
  border-radius: 14px;
  display: inline-block;
  color: #fff;
  text-align: center;
  align-self: center;
  margin-bottom: 0;
  margin-top: 5px;
  width: 50px;
}

.home-groups_icon {
  @apply p-6 flex justify-center;
  flex-direction: column;
  background: #4E4E4F;
  width: 110px;
  height: 110px;
}

.home-groups_icon:hover {
  box-shadow: 0 0 0 2px #C82A0F;
}

.home-groups_img {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-groups_name {
  @apply font-semibold block;
  width: 110px;
  font-size: 14px;
}
