.home-orgs {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(110px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  gap: 12px;
}

.home-orgs_item {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.home-orgs_link {
  @apply flex h-full items-center bg-secondary text-white;
  position: relative;
}
@screen md {
  .home-orgs_link {
    @apply flex-col items-start text-primary;
    background-color: transparent;
    position: relative;
  }
}

.home-orgs_count {  
  background: #E3E3E3;  
  border: 1px solid #E3E3E3;
  border-radius: 14px;
  display: inline-block;
  color: #000000;
  text-align: center;
  align-self: center;
  margin-bottom: 0;
  margin-top: 5px;
  width: 50px;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.home-orgs_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF !important;
  padding: 12px 12px 44px 12px;
  border: 1px solid #E3E3E3;
  width: 110px;
  height: 110px;
}

.home-orgs_icon:hover {
  box-shadow: 0 0 0 2px #E3E3E3;
}

.home-orgs_img {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.home-orgs_name {
  text-transform: uppercase;
  @apply font-semibold;
  width: 110px;
}
