.main-nav_link {
  @apply block py-2 px-gutter font-semibold text-primary;
  transition: 0.3s;
  &:hover{
    @apply text-secondary;
  }

  &[aria-current] {
    @apply border-primary;
  }

  @nest .main-nav_subnav & {
    border: none;
    @apply text-base font-normal;
  }
}

@screen lg {
  .main-nav_link {
    @apply py-1 px-0 flex items-center;
  }
}

@media (max-width: 1023px) {
  .main-nav {
    &[data-expanded] {
      position: absolute;
      @apply shadow;
    }
    &[data-expanded="false"] {
      display: none;
    }
  }
}

@screen lg {
  .main-nav_subnav {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease 0.2s;
    pointer-events: none;
    @apply bg-white shadow px-3 py-2;

  }

  .main-nav_item:hover > ul,
  .main-nav_item:focus-within > ul,
  .main-nav_item ul:hover,
  .main-nav_item ul:focus {
     opacity: 1;
     pointer-events: all;
  }
}

.main-nav_search-toggle {
  display: none;
}
@screen md {
  #content-search-home-icon {
    padding: .5rem 1.5rem !important;
  }
}
@screen lg {
  #content-search-home-icon {
    padding: 0 !important;
  }
  .main-nav_search-toggle {
    display: block;
  }
  .main-nav_search-toggle-icon {
    @apply fill-current;

    &[data-toggle="show"] {
      display: block;

      @nest [aria-expanded="true"] & {
        display: none;
      }
    }

    &[data-toggle="hide"] {
      display: none;

      @nest [aria-expanded="true"] & {
        display: block;
      }
    }
  }

  .main-nav_search {
    display: none;

    &[data-expanded="true"] {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  #content-search-home-icon {
    padding: .5rem 1.5rem !important;
  } 
}

.main-nav {
  background-color: #f5f5f5 !important;
}

.main-nav_link {
  border: none !important;
  border-bottom-width: 0px !important;
}

#search-link {
  color: #4e4e4f !important;
}

#search-link:hover {
  color: #ef4123 !important;
}

#content-search-home-icon {
  margin-top: 7px !important;
}

#nav-toggle {
  background-color: #C82A0F;
  color: #FFFFFF;
  padding: 10px 12px 10px 12px !important;
  height: 44px !important;
  width: 45px !important;
}

#nav-hamburger {
  height: 24px;
  width: 21px;
}

.header-color {
  height: 66px !important;
  display: flex;
  align-items: center;
}

#nav-oddk-title {
  max-height: 38px !important;
}

#nav-search-mag-glass {
  fill: #4e4e4f !important;
}

@media screen and (max-width: 1080px) {
  #nav-toggle {
    margin-right: 12px;
  }
  #nav-oddk-logo {
    padding-left: 0px !important;
  }  
  .container {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}