.markdown-content{
  & h1 {
  @apply text-3xl font-semibold text-gray-900;
  }
  & h2 {
      @apply text-2xl font-semibold text-gray-900;
  }

  & h3 {
      @apply text-xl font-semibold text-gray-900;
  }

  & h4 {
      @apply text-lg font-semibold text-gray-900;
  }
  & p {
    @apply text-lg mb-2;
  }
  & strong {
    font-weight: 600;
  }
  & ol {
    @apply mt-1 ml-5 list-decimal;
  }
  & ul{
    @apply mt-1 ml-5 list-disc;
  }
  & code{
      font-family: "Nunito Sans",sans-serif;
      @apply font-semibold text-gray-900 text-base;
  }
  & a{
      @apply underline text-gray-900;
  }
  & em{
      font-style: italic;
  }
}

body, html { 
  font-size: 85%;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

@media screen and (min-width: 1080px) and (max-width: 1379px) {
  .container {
    margin-left: 8%;
    margin-right: 8%;
    max-width: 84%;
  }
}

@media screen and (max-width: 1079px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
  }
}

.search-card:hover {
  background-color: #f5f5f5;
}

#searchSelectHome {
  z-index: 1;
  position: absolute;
  display: none;
  width: calc(100% - 40px);
  margin-left: 40px;
  margin-top: 46px;
  float: left;
  top: -41px;
}

@media (max-width: 767px) {
  #searchSelectHome {
    display: block;
  }
}
